// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event{
    width: 300px;
    margin: 0px auto;
    background-color: lightgrey;
    display: inline-block;
    vertical-align: top;

}
